VITE_STRIPE_FIRE_LINK=https://buy.stripe.com/...
VITE_STRIPE_WATER_LINK=https://buy.stripe.com/...
VITE_STRIPE_ASBESTOS_LINK=https://buy.stripe.com/...
VITE_STRIPE_ELECTRICAL_LINK=https://buy.stripe.com/...
VITE_STRIPE_GAS_LINK=https://buy.stripe.com/...
VITE_STRIPE_COOLING_LINK=https://buy.stripe.com/...
VITE_STRIPE_BUNDLE_LINK=https://buy.stripe.com/...
